/* ----------[Colors]---------- */

$color-white: #fff;
$color-yellow: #fce38a;
$color-grey: #333;
$color-pink: #f38181;
$color-lightgrey: #999;
$color-lightblue: #95e1d3;
$color-darkwhite: #e7e7e7;

/* ----------[Fonts]---------- */

$font-KaushanScript: "KaushanScript";
$font-Montserrat: "Montserrat";
$font-Roboto: "Roboto";
